# Server
PORT=8080

# Database
DATABASE_URL=

# JWT
JWT_SECRET=

# VNPay sandbox demo
VNPAY_TMN_CODE=
VNPAY_SECURE_SECRET=
VNPAY_HOST=https://sandbox.vnpayment.vn
VNPAY_TEST_MODE=true
# Must include global prefix: /api/v1
VNPAY_RETURN_URL=http://localhost:8080/api/v1/payments/vnpay/return
VNPAY_FRONTEND_SUCCESS_URL=http://localhost:5173/payment/success
VNPAY_FRONTEND_FAIL_URL=http://localhost:5173/payment/fail
